doctype html
html

	// Head
	include html/includes/head.pug

	// Body
	body

		// Navbar
		include html/header-navbar.pug

		// Footer
		include html/footer.pug

		// Scripts
		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')
		script(src='js/plugins.min.js')
		script(src='js/script.min.js')
